*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.texto{
    margin-left: 4cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#primer link{
    color:rgb(85, 85, 168);
    text-decoration: none;
}

#segundo link{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


header {
    margin-bottom: 2cm;
    height: 2%;
 }

 body{
     background-image: url(fondo-1400x860.jpg);
 }

 .adobe{
     height: 80px;

     margin-left: 4cm;
 }

 .menú{
     margin-right: 60px;
     margin-top: 20px;
     float:right
 }

nav ul li a{
    color:rgb(177, 177, 177);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul li{
    float:left;
    list-style: none;
    margin-left: 75px;
    float:left;
    padding: 15px, 30px;

}

 footer{
     color: rgb(44, 44, 44);
 }