header{
  /*background-image: url(IMG_8946.jpg);*/
  background-image: url("IMG_8946.jpg");
  background-position: center;
  text-align: center;
  color: pink;
  font-style: serif;
  height: 300px;
}
